@import "./variables.css";

#page.page-search-profiles {
	.form-field textarea {
		margin-top: 0.5em;
		min-height: 6em;
	}

	.error-message {
		margin-top: 1em;
		color: var(--color-red);
	}

	.search-loading {
		margin: 1em 0;
		padding: 0.45em 0;
	}

	.search-results {
		margin-top: 1em;

		th {
			text-align: left;
			font-variation-settings: "wght" 600;
		}

		th,
		td {
			padding: 0.4em 0;
		}

		.td-owner {
			padding-right: 1em;
		}

		.td-profile {
			.no-profile {
				font-style: italic;
				color: #aaa;
				font-size: 0.9em;
			}

			.profile-name {
				overflow-wrap: anywhere;
				vertical-align: middle;
			}

			.profile-img-wrap {
				display: inline-block;
				margin-right: 0.5em;
				height: 1.2em;
				width: 1.2em;
				vertical-align: middle;

				.profile-img {
					display: block;
					background-image: url("/img/anon.webp");
					background-size: cover;
					background-position: center;
					height: 1.2em;
					width: 1.2em;
					box-sizing: border-box;
					object-fit: cover;
					border-radius: 10%;
				}
			}
		}
	}
}
