@import "./variables.css";

.walrus-form {
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding: 0.25em 0;

	.btn-group {
		display: flex;
		flex-direction: column;
		gap: 1em;
		button {
			margin: 0;
			padding: 0.5em 1em;
		}
	}

	input {
		width: 100%;
	}
}

.walrus-file-upload-container {
	position: relative;
}

.walrus-file-input {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.walrus-drop-zone {
	border: 2px dashed #ccc;
	border-radius: 0.5em;
	padding: 1em;
	text-align: center;
	min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.walrus-upload-steps {
	display: flex;
	flex-direction: column;
}

/* Animation for any remaining spinners */
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.walrus-upload-btn {
	display: flex;
	align-items: center;
	gap: 0.5em;
	border: 1px solid rgb(150 240 229);
	color: white;
	background: transparent;
	background-color: rgba(150, 240, 229, 0.1);
	cursor: pointer;
	font-size: 0.9em;
	margin-top: 0.75em;

	&:hover {
		background-color: rgba(150, 240, 229, 0.2);
	}

	.walrus-icon {
		width: 20px;
	}
}

.walrus-modal-title {
	display: flex;
	align-items: center;
	gap: 0.5em;
	font-variation-settings: "wght" 400;
	margin: 0;

	.walrus-icon {
		width: 48px;
		height: 48px;
	}
}
