@import './variables.less';

#page.page-manage-profile {
    .section {
        h2 {
            margin-top: 1em;
            margin-bottom: 0.48em;
        }
    }
    .section-info {
        p {
            font-size: 0.9em;
            overflow-wrap: anywhere;
            margin-bottom: 0.5em;
        }
    }
    .section-image {
        img {
            border-radius: 0.9em;
            border: 4px solid var(--text-color);;
            box-sizing: border-box;
            display: block;
            width: 100%;
        }
    }
    .field-error, .field-info {
        font-size: 0.7em;
        margin-bottom: 0.25em;
        margin-top: 0.25em;
    }
    .field-error {
        color: @color-red;
    }
    .field-info {
        font-style: italic;
    }
}
