#nav {
    padding: 0 1em;
    .nav-section {
        border-bottom: 1px solid #333;
        padding: 1em 0;
        .nav-section-title {
            margin-bottom: 1em;
        }
    }
}

#nav-logo {
    align-items: center;
    display: flex;
    #nav-logo-img {
        display: inline-block;
        vertical-align: middle;
        width: 2.8em;
    }
    #nav-logo-txt {
        color: white;
        display: inline-block;
        font-size: 1.1em;
        margin-left: 0.3em;
        vertical-align: middle;
    }
}

#nav-wallet {
    #nav-btn {
        &:hover {
            cursor: pointer;
        }
    }
}

#nav-pages {
    .nav-page-link {
    }
}

#nav-socials {
    .nav-social-link {
    }
}
