@import './variables.less';

#nav {
    user-select: none;
    padding: 0 1em;
    .nav-section {
        border-bottom: 1px solid #333;
        padding: 1em 0;
        .nav-section-title {
            margin-bottom: 1em;
        }
    }
}

#nav-logo {
    align-items: center;
    display: flex;
    #nav-logo-img {
        display: inline-block;
        vertical-align: middle;
        width: 2.8em;
    }
    #nav-logo-txt {
        color: white;
        display: inline-block;
        font-size: 1.1em;
        margin-left: 0.3em;
        vertical-align: middle;
    }
}

#nav-wallet {
    #nav-btn {
        &:hover {
            cursor: pointer;
        }
    }
}

#nav-pages {
    .nav-page-link {
        line-height: 1.5em;
    }
}

#nav-socials {
    .nav-social-link {
    }
}

#mobile-menu-btn-wrap {
    display: none;
}

@media (max-width: @mobile-width) {
    #mobile-menu-btn-wrap {
        display: block;
        line-height: 1em;
        margin: 1em 1em 0 0;
        padding: 0.2em 0;
        position: fixed;
        right: 0;
        top: 0;
        &:hover {
            cursor: pointer;
        }
        #mobile-menu-btn {
            font-size: 2.2em;
        }
    }
    #nav-sections-wrap {
        display: none;
        &.open {
            display: block;
        }
    }
}
